.chatList {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    background-color: #f7f7f7;
    border-left: 1px solid #ddd;
  
    h2 {
      margin-bottom: 15px;
      font-size: 18px;
      color: #333;
    }
  }
  